fastapi
uvicorn[standard]
websockets
pydantic-settings
tortoise-orm==0.21.6

aerich
requests
openai
paramiko
psutil
langchain-openai
langchain-core
langgraph
email-validator
fake-useragent
geoip2
beautifulsoup4
markdown
reportlab
xhtml2pdf
